/* Reset some default styles */
body, h1, h2, p, ul, ol, li, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.name-intro {
    text-align: left;
    width: 60%;
}

.name-intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.name-intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

/* Section Styles */
section {
    padding: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.contact-info p {
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffcc00;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .name-intro, .profile-photo {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
